*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arturito Slab, sans-serif;
}
:root {
  --sizeindex: calc(1vw + 1vh);
  --index: calc(1vw + 1vh);
  --transition: 1s cubic-bezier (0.05, 0.5, 0, 1);
  --white: #fff;
}
.container {
  max-width: 1440px;
  width: calc(100% - 30px);
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: var(--white);
}
ul {
  list-style: none;
}
