*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arturito Slab, sans-serif;
}
html {
  scroll-behavior: smooth;
  }
:root {
  --sizeindex: calc(1vw + 1vh);
  --index: calc(1vw + 1vh);
  --transition: 1s cubic-bezier (0.05, 0.5, 0, 1);
  --white: #fff;
}
.container {
  max-width: 1440px;
  width: calc(100% - 30px);
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: var(--white);
}
ul {
  list-style: none;
}

.wrapper {
  position: relative;
  width: calc(100% - 15rem);
  margin-inline: auto;
  border-radius: 10px;
  background-color: rgba(7, 7, 7, 0.7); 
  overflow: hidden; 
  animation: animateBorder 3s linear infinite;
  transform: translateY(50px);
}

@keyframes animateBorder {
  0% {
    box-shadow: 0 0 0 2px hsl(330, 100%, 50%); 
  }
  33% {
    box-shadow: 0 0 0 2px hsl(210, 100%, 50%); 
  }
  66% {
    box-shadow: 0 0 0 2px hsl(270, 100%, 50%); 
  }
  100% {
    box-shadow: 0 0 0 2px hsl(330, 100%, 50%); 
  }
}

.banner{
  background: linear-gradient(to right, #000000, #2c2c2c, #000000);
  width: 100%;
  color: var(--white);
  padding: 50px 10px;
  font-size: calc(var(--index)*1.35);
}