.galery{
	background-image: url("../img/bgi4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
}

.carousel {
	display: flex;
	width: 100%;
	height: 50%;
	align-items: center;
	margin: 20px 0;
	@media (max-width: 700px) {
		width: 90%;
	}
	@media (max-width: 551px) {
		width: 40%;
	}
  }
  
  .galery__list {
	display: flex;
	list-style: none;
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	perspective: 300px;
  }
  
  .galery__item {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 0px;
	width: calc(var(--sizeindex)*20);
	height: calc(var(--sizeindex)*30);
	border-radius: 12px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
	position: absolute;
	transition: all .3s ease-in;
  }
  
  .galery__item:nth-child(1) {
	background-image: url("../img/galery/1.webp");
	background-size: cover;
	background-position: center center;
  }
  
  .galery__item:nth-child(2) {
	background-image: url("../img/galery/2.webp");
	background-size: cover;
	background-position: center center;
  }
  
  .galery__item:nth-child(3) {
	background-image: url("../img/galery/3.webp");
	background-size: cover;
	background-position: center center;
  }
  
  .galery__item:nth-child(4) {
	background-image: url("../img/galery/4.webp");
	background-size: cover;
	background-position: center center;
  }
  
  .galery__item:nth-child(5) {
	background-image: url("../img/galery/5.webp");
	background-size: cover;
	background-position: center center;
  }
  .galery__item:nth-child(6) {
	background-image: url("../img/galery/6.webp");
	background-size: cover;
	background-position: center center;
  }
  .galery__item:nth-child(7) {
	background-image: url("../img/galery/7.webp");
	background-size: cover;
	background-position: center center;
  }
  
  .galery__item[data-pos="0"] {
	z-index: 5;
  }
  
  .galery__item[data-pos="-1"],
  .galery__item[data-pos="1"] {
	opacity: 0.7;
	filter: blur(1px) grayscale(10%);
  }
  
  .galery__item[data-pos="-1"] {
	transform: translateX(-40%) scale(.9);
	z-index: 4;
  }
  
  .galery__item[data-pos="1"] {
	transform: translateX(40%) scale(.9);
	z-index: 4;
  }
  
  .galery__item[data-pos="-2"],
  .galery__item[data-pos="2"] {
	opacity: 0.4;
	filter: blur(3px) grayscale(20%);
  }
  
  .galery__item[data-pos="-2"] {
	transform: translateX(-70%) scale(.8);
	z-index: 3;
  }
  
  .galery__item[data-pos="2"] {
	transform: translateX(70%) scale(.8);
	z-index: 3;
  }

.galery__item[data-pos="-3"],
.galery__item[data-pos="3"] {
  opacity: 0.2;
  z-index: 2;
}

  .galery__item.zoom {
	transform: scale(1.2);
	z-index: 10;
  }