.header {
    background: linear-gradient(to right, #000000, #2c2c2c, #000000);
    width: 100%;
}
.header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--white);
    padding: 50px 0;
    font-size: calc(var(--index)*1.35);
}

